body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #ff033a;
  color: white;
  @media screen and (max-width:600px) {
    background-image: none !important;
  }
}

.wrapper {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover, &:focus, &:active, &:visited {
    color: inherit;
  }
}

.site {
  @media screen and (max-width: 600px) {
    padding-top: 100px;
  }
}
